.ui-input
  padding: 6px 12px
  background: none
  border: none
  border-bottom: 1px solid $color.gray-dark
  flex-basis: 350px
  font-family: $font-family.primary
  margin-right: $spacing.large
  outline: none

.ui-search
  padding: 6px 12px
  border-radius: 3px
  font-family: $font-family.primary
  border: 1px solid $color.gray-medium
  width: 350px