.ui-menu
  padding-left: $spacing.none
  list-style-type: none

.ui-menu li a
  display: block
  padding: $spacing.normal $spacing.large
  color: $color.gray-x-dark

.ui-menu li + li a
  border-top: 1px solid $color.gray-dark

.ui-menu li a:hover,
.ui-menu li a:active
  background: $color.gray-dark
  color: $color.white

.ui-menu li a.is-active
  background: $color.gray-x-dark
  color: $color.white