.flex
  display: flex

.flex.align-center
  align-items: center

.flex.align-baseline
  align-items: baseline

.flex.align-flex-start
  align-items: flex-start

.flex.align-flex-end
  align-items: flex-end

.flex.align-stretch
  align-items: stretch

.flex.justify-center
  justify-content: center

.flex.justify-flex-start
  justify-content: flex-start

.flex.justify-flex-end
  justify-content: flex-end

.flex.justify-space-around
  justify-content: space-around

.flex.justify-space-between
  justify-content: space-between