.table
  width: 100%
  margin-top: 50px

.table th
  border: 1px solid $color.gray-medium
  border-bottom: none
  padding: 5px 10px

.table th + th
  border-left: none

.table td
  border: 1px solid $color.gray-medium
  padding: 5px 10px

.table td.is-done
  text-decoration: line-through
  color: #666666

.table td + td
  border-left: none
  width: 220px
  text-align: center

.table tr + tr td
  border-top: none