.ui-button
  border-radius: 3px
  border: none
  color: #ffffff
  background: #666666
  padding: 10px 20px
  cursor: pointer
  margin: 0 5px

.ui-button.-success
  background: #5cb85c

.ui-button.-warning
  background: #ec971f

.ui-button.-danger
  background: #c9302c

.ui-button.-true
  display: none