// =============================================================================
// Base
// =============================================================================

*,
*::before,
*::after
  box-sizing: border-box

body
  font-family: $font-family.primary
  font-size: 100%
  margin: 0
  padding: 0
  border: 0

a
  text-decoration: none
  color: inherit

p
  line-height: 1.5

.container
  max-width: $container.width
  padding: 0 $container.padding
  margin-left: auto
  margin-right: auto